
h2 {
    font-size: 2.5em;
    color: green;
    text-transform: uppercase;
}

h3 {
    padding: 30px;
    font-style: italic;
    text-transform: capitalize;
}

h4 {
    font-size: 1em;
    color: green;
    font-style: italic;
}

h5 {
    text-transform: capitalize;
}

* {
    font-family: "Segoe UI", serif;
}

hr {
    color: coral;
    border: .05em solid;
    border-collapse: collapse;
}

p {
    text-indent: 40px;
}

html {
    scroll-behavior: smooth;
}

.nomagrin {
    margin-top: 1px;
    margin-bottom: 1px;
}

.row {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    width: 50%;
    /*display: inline-block;*/
}

.back_to_top {
    --offset: 100px;
    float: right;
    position: sticky;
    bottom: 20px;
    right: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));

    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 50px;
    white-space: nowrap;
}

#header {
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#content {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
}

#cover {
    width: 30%;
    height: 30%;
}


#related_links {
    text-align: left;
    font-size: 1.45em;
    list-style: none;
    font-style: italic;
    font-weight: bold;
}

#related_links li {
    /*padding: 0.1em;*/
}

#related_links ul {
    margin: 0;
    border: none;
}

#related_links a {
    text-decoration: none;
}

#related_links li a:hover {
    color: chocolate;
}