* {
    box-sizing: border-box;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
p{
    text-align: justify;
}
.row{
    margin-top: 50px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

#menu {
    height: 50px;
    background-color: #33b5e5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

#menu div {
    height: 50px;
    display: flex;
    align-items: center;
}

#menu ul, #menu li {
    padding: 0;
    margin: 0;
}

#menu li {
    position: relative;
    float: left;
    list-style: none;
}

#menu div {
    position: relative;
    float: right;
}

#menu label {
    color: white;
    text-align: center;
    margin: 0 10px;
}

#menu li a {
    width: 100px;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #33b5e5;
    color: white;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

#menu ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover {
    background-color: #0099cc;

}

#menu ul ul {
    position: absolute;
    top: 50px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul {
    visibility: visible;
}
.aside {
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */

    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}